:root {
  --background-color: #FfEE98;
  --accent-yellow: #FAD705;
  --accent-color: #E4472A;
  --text-color: #1a1a1a;
}

/* СКИДАННЯ СТИЛІВ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
