/* хедер */
.header {
  width: 100%;
  height: auto;
  padding: 20px 0;

  background-image: url(../images/headerLogo.png);
  background-position-y: center;
  background-size: 120px 120px;
  background-repeat: no-repeat;
}