/* хедер */
.header {
  width: 100%;
  height: auto;
  padding: 20px 0;

  // background-image: url(../images/headerLogo.png);
  // background-position-y: center;
  // background-size: 80px;
  // background-repeat: no-repeat;
}