.hero {
  background-image: url(../../images/smailyk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {}

.hidden {}

.hero__img {}

.hero__link-wrapper {}

.hero__link {}